asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.3
pillow==12.1.1
psycopg2==2.9.11
python-decouple==3.8
sqlparse==0.5.5
tzdata==2025.3


##.\venv\Scripts\activate
##py -m pip freeze > requirements.txt
##py -m pip list
##pip install -r requirements.txt